.searchResultPage__headerLogo {
    background: none;
    height: 30px;
    width: 92px;
}

.searchResultPage__headerLeft {
    padding: 30px;
    display:absolute;
    border-bottom: #fefefe 10px solid;
}

.searchResultPage__HeaderRightIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.searchResultPage__filters>ul>li {
list-style-type: none;
display: flex;
align-items: center;
}